openmeteo-requests 
requests-cache 
retry-requests 
numpy 
pandas
databricks-connect>=15.4,<15.5
nbformat
mermaid-python
dbldatagen
pyparsing
keplergl
pgeocode
scikit-learn
jmespath
osmnx 
networkx 
geopandas
seaborn